.trailer-button, .revenues-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 5px;
}

.trailer-button:hover, .revenues-button:hover {
  background-color: #0056b3;
}
.moviesList{
  display: flex;
  justify-content: space-around;
}
